.myHeader {
    height: 17%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ebebeb;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerTitle a {
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
}

.mySidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #929292;
    z-index: 0;
}
